<h1><em>Babysitter Info</em></h1>

<p>
First Name: <%= @babysitter.first_name %>
</p>

<p>
Last Name: <%= @babysitter.last_name %>
</p>

<p>
User Name: <%= @babysitter.username %>
</p>

<p>
Email: <%= @babysitter.email %>
</p>

<p>
Phone Number: <%= @babysitter.phone_number %>
</p>

<div>
    this should link to the edit page <br>
    There should also be a link to the index page of babysitters<br>
    there should be an option to return home<br>
</div>