<h1><em>Babysitter Info</em></h1>

<p>
First Name: <%= @babysitter.first_name %>
</p>

<p>
Last Name: <%= @babysitter.last_name %>
</p>

<p>
User Name: <%= @babysitter.username %>
</p>

<p>
Email: <%= @babysitter.email %>
</p>

<p>
Phone Number: <%= @babysitter.phone_number %>
</p>

<div>
    <%= link_to "Edit", edit_babysitter_path(@babysitter) %> | View Appointments
    There should also be a link to the index page of babysitters<br>
    <%= link_to "Log Out", signout_path, method: :post %><br>
</div>