<h1>Schedule Date: <%= appointment_date %> </h1>


<p> Babysitter Name: <%= @appointment.babysitter.full_name %></p>

<p> Babysitting Start Time: <%= @appointment.start_time %></p>

<p> Babysitting End Time: <%= @appointment.end_time %> </p>

<p> Parent Name: <%= parent_full_name(@appointment) %> </p>

<p> Number of Children Watched: <%= @appointment.number_of_children %></p>

<% if babysitter_logged_in? || (user_role == "Admin") %>
    <p>Completed: <%= @appointment.completed %></p>
<% elsif parent_logged_in? && @appointment.completed %>
    <p>Completed: <%= @appointment.completed %></p>
<% else %>
    <%= link_to "Appointment Complete? ", edit_parent_appointment_path(@parent, @appointment) %>
<% end %>

<p>
<%= appointment_home_link %> | <%= appointment_edit_link(@parent, @appointment)%>
</p>
